.container{
	width: 1170px;
	margin: 0 auto;
	&::before,&::after{
		content: '';
		display: table;
		line-height: 0;
	}
	&::after{
		clear: both;
	}
	@for $i from 0 to 12{
		.pc-span#{$i+1}{
			width: 8.33% * ($i + 1);
			float: left;
			&::before,&::after{
				content: '';
				display: table;
				line-height: 0;
			}
			&::after{
				clear: both;
			}
		}
	}
	@for $i from 0 to 12{
		.pc-offset-span#{$i + 1}{
			margin-left: 8.33% * ($i + 1);
			_margin-left: 4.16% * ($i +1);
			float: left;
			_display: inline;
		}
	}
}
@for $i from 1 to 13{
	.span#{$i}{
		width: 8.33% * $i;
		float: left;
	}
}
